<div class="container">
  <div class="hero">
    <div class="video_home">
      <div class="video_overlay">
        <%= video_tag "video123.mp4", playsinline: :playsinline, autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
      </div>
    </div>
    <div class="text_section">
      <div class="text_video">
        <div width="100px" height="100px"><%= image_tag "Homepic1.webp", :style => "width: 130px;margin-bottom: 20px;" %></div>
        <div class="line_home"> <%= image_tag "line.webp", :style => "width: 160px;margin-bottom: 20px;" %> </div>
        <h1 class="hero-header">GoodLook<br>Barber<br>Shop</h1>
        <p class="hero-para">Više od običnog frizera, nudimo vam klasične usluge sa legendarnim stilom.<br> Prva stranica na balkanu sa online rezervacijom.</p>
        <a class="button_main button_main_div" href="/rezervacija">Rezervacija <i aria-hidden="true" class="fas fa-cut ml-3"></i></a>
      </div>
    </div>
  </div>

  <div class="section_usluge row align-items-center">
    <div class="section_usluge_text col-lg-5 col-sm-12">
      <div class="line_home"> <%= image_tag "line.webp", :style => "width: 160px;margin-bottom: 20px;" %> </div>
        <h1 class="text_section_header">Najpopularnije<br>Usluge</h1>
        <hr>
        <p class="text_section_para">Više od običnog frizera, nudimo vam klasične usluge sa legendarnim stilom.</p>
        <a class="button_main button_main_div" href="/cjenovnik" style="margin-bottom: 100px;">Cjenovnik <i aria-hidden="true" class="fas fa-cut ml-3"></i></a>
    </div>
    <div class="section_usluge_cijene col-lg-7 col-sm-12">
      <ul class="tilesWrap">
        <li>
          <h2>13KM</h2>
          <h3>Šišanje kose</h3>
          <p>..................</p>
        </li>
        <li>
          <h2>18KM</h2>
          <h3>Šišanje i pranje kose</h3>
          <p>..................</p>
        </li>
        <li>
          <h2>5KM</h2>
          <h3>Uređivanje Brade</h3>
          <p>..................</p>
        </li>
        <li>
          <h2>22KM</h2>
          <h3>Šišanje, Pranje kose i Uređivanje Brade</h3>
          <p>..................</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="banner_main">
    <div class="banner"></div>
    <div class="banner_text_over row">
      <div class="col-lg-6">
      <h1 class="text_header_banner">BarberShop<br>Sponzori i partneri</h1>
      <p class="text_section_banner">Sve je u Stilu! I proizvodima.</p>
      <hr style="background-color: red;">
      </div>
      <div class="col-lg-6 d-flex align-items-end justify-content-around">
        <%= image_tag "DapperDan.webp", :style => "width: 100px;" %>
        <%= image_tag "DapperDan.webp", :style => "width: 100px;" %>
        <%= image_tag "DapperDan.webp", :style => "width: 100px;" %>
      </div>
    </div>
  </div>

  <main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Sea Salt Spray</h2>
        <p class="copy">30KM</p>
        <button class="button_sec"><a href="/kontakt" style="text-decoration: none;color: white;">Buy Now</a></button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Matt Gel</h2>
        <p class="copy">20 KM</p>
        <button class="button_sec"><a href="/kontakt" style="text-decoration: none;color: white;">Buy Now</a></button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Beard Oil</h2>
        <p class="copy">17 KM</p>
        <button class="button_sec"><a href="/kontakt" style="text-decoration: none;color: white;">Buy Now</a></button>
      </div>
    </div>
    <div class="card">
      <div class="content">

        <h2 class="title">Krema</h2>
        <p class="copy">20 KM</p>
        <button class="button_sec"><a href="/kontakt" style="text-decoration: none;color: white;">Buy Now</a></button>
      </div>
    </div>
  </main>

  <div class="d-flex justify-content-center">
   <div class="ponuda_tab" style="margin-bottom: 20px; padding-bottom: 30px;">
      <h1 class="ponuda_section_header">Zatražite Ponudu</h1>
      <p class="ponuda_section_para">033 977-311 / Trg Heroja 31</p>
      <hr style="background-color: red; margin-bottom:27px;">
      <a class="button_main button_main_div" href="/kontakt">Rezerviši svoj termin <i aria-hidden="true" class="fas fa-cut ml-3"></i></a>
    </div>
  </div>

  <div class="hero_footer d-flex align-items-end">
    <div class="container">
    <div class="overlay_hero"></div>
    <div class="slika_ponuda col-lg-6 col-sm-12 align-items-end">
      <div class="image_ponuda"><%= image_tag "50.webp", :style => " width: 100%; height: auto;filter: brightness( 109% ) contrast( 77% ) saturate( 89% ) hue-rotate(6deg); " %></div>
    </div>
  </div>

</div>
