<div class="main_banner">
  <div class="container">
    <div class="main_banner_elements">
      <h1 class="banner_header">Usluge i Galerija</h1>
      <div class="line_home"> <%= image_tag "line.webp", :style => "width: 140px;margin-bottom: 20px;" %> </div>
    </div>
  </div>
</div>

<div class="container">

   <div class="proizvodi_topic" style="text-align: center;">
    <h1 class="proizvodi_section_h" style="margin-top: 70px;">Naš Tim</h1>
    <p class="proizvodi_section_para">S razlogom najbolji.</p>
    <hr style="background-color: red; width: 50%;">
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "25.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Adnan Alihodžić</h3>
          <h4 class="title_2">Aduka</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "24.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Kenan Arnautović</h3>
          <h4 class="title_2">Keno</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "47.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Aldin Dajidžić</h3>
          <h4 class="title_2">Alda</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "14.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Adnan Alihodžić</h3>
          <h4 class="title_2">Aduka</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "13.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Kenan Arnautović</h3>
          <h4 class="title_2">Keno</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "12.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Aldin Dajidžić</h3>
          <h4 class="title_2">Alda</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>



  <div class="proizvodi_topic" style="text-align: center;">
    <h1 class="proizvodi_section_h" style="margin-top: 70px;">Galerija radova</h1>
    <p class="proizvodi_section_para">S razlogom najbolji.</p>
    <hr style="background-color: red; width: 50%;">
  </div>
  <div class="galerija row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic1.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic2.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic3.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic4.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic5.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic6.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic7.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "pic8.webp", :class => "pic" %>
    </div>


  </div>
</div>
