<div class="main_banner">
  <div class="container">
    <div class="main_banner_elements">
      <h1 class="banner_header">Usluge i Galerija</h1>
      <div class="line_home"> <%= image_tag "line.webp", :style => "width: 140px;margin-bottom: 20px;" %> </div>
    </div>
  </div>
</div>

<div class="container">

   <div class="proizvodi_topic" style="text-align: center;">
    <h1 class="proizvodi_section_h" style="margin-top: 70px;">Naš Tim</h1>
    <p class="proizvodi_section_para">S razlogom najbolji.</p>
    <hr style="background-color: red; width: 50%;">
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "25.webp", :class => "img-fluid", :style => "object-position:80%" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Adnan Alihodžić</h3>
          <h4 class="title_2">Aduka</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "24.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Kenan Arnautović</h3>
          <h4 class="title_2">Keno</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "47.webp", :class => "img-fluid", :style => "object-position:60%" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Aldin Dajidžić</h3>
          <h4 class="title_2">Alda</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "14.webp", :class => "img-fluid", :style => "object-position:70%" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Kenan Salcin</h3>
          <h4 class="title_2">Keno</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "13.webp", :class => "img-fluid" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Kenan Arnautović</h3>
          <h4 class="title_2">Keno</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <%= image_tag "12.webp", :class => "img-fluid", :style => "object-position:70%" %>
        </div>
        <div class="team-content">
          <h3 class="name_2">Aldin Dajidžić</h3>
          <h4 class="title_2">Alda</h4>
        </div>
        <ul class="social">
          <li><a href="#" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="#" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>



  <div class="proizvodi_topic" style="text-align: center;">
    <h1 class="proizvodi_section_h" style="margin-top: 70px;">Galerija radova</h1>
    <p class="proizvodi_section_para">S razlogom najbolji.</p>
    <hr style="background-color: red; width: 50%;">
  </div>
  <div class="galerija row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "4.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "8.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "6.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "7.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "9.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "10.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "11.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "30.webp", :class => "pic" %>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "28.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "31.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "26.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "38.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "37.webp", :class => "pic" %>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "33.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "34.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "35.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "36.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "39.webp", :class => "pic" %>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "40.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "41.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "42.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "43.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "44.webp", :class => "pic" %>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "45.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "46.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "17.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "16.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "19.webp", :class => "pic" %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= image_tag "20.webp", :class => "pic" %>
    </div>


  </div>
</div>
